---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "home page";

const project_left = await Astro.glob('./projects/tracker.mdx')
const project_right = await Astro.glob('./projects/aws.mdx')
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h2>hi! thank you for visiting!</h2>
  </div>
  <p>sometimes i <a href="/projects/tracker">dev</a>, sometimes i <a href="/blog">ops</a>, sometimes i make music (tba)</p>
  <p>you can learn more on the <a href="/about">about me</a> page, or check my projects <a href="/projects/">here</a>. i try to document things i learn on <a href="/blog">my blog</a></p>

  <h2>project showcase</h2>
  <div class="row">
    <div class="column">
      <h3><a href={project_left[0].url}>{project_left[0].frontmatter.title}</a></h3>
      <a href="/projects/tracker"><img src="/projects/tracker/0.png" width="95%" /></a>
    </div>
    <div class="column right">
      <h3><a href={project_right[0].url}>{project_right[0].frontmatter.title}</a></h3>
      <a href="/projects/aws"><img src="/projects/aws/0.png" width="95%" /></a>
    </div>
  </div>
</BaseLayout>