---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allProjects = await Astro.glob('../pages/projects/*.md*');
const pageTitle = "my projects";
---

<BaseLayout pageTitle = {pageTitle}>
  <p>you can find the source for my projects & infrastructure on my <a href="https://github.com/relyq">github</a></p>
  <h3>software dev & sysadmin</h3>
  <ul>
    {allProjects.filter((project) => !project.frontmatter.tags.includes("embedded")).map((project) => <BlogPost url={project.url} title={project.frontmatter.title}/>)}
  </ul>
  <h3>embedded projects</h3>
  <ul>
    {allProjects.filter((project) => project.frontmatter.tags.includes("embedded")).map((project) => <BlogPost url={project.url} title={project.frontmatter.title}/>)}
  </ul>
</BaseLayout>